/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button:hover{
    -fx-border-style: solid;
}

*{
	-fx-font-size: 100%;
	-fx-font-family: "Berlin Sans FB";
	
}
.root{
 -fx-background-image: url('/Icons/restaurant-management.jpg');
 -fx-background-size: stretch;
 -fx-font-size: 100%;
-fx-font-family: "Berlin Sans FB";	
}

