/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Label{
     -fx-background-color:  #ffffff80;
     -fx-background-radius: 12;
     -fx-max-height: 25;
	 -fx-font-family: "Berlin Sans FB";
     }


